<header>
    <nav class="navbar navbar-expand-md navbar-dark shadow-lg mt-3" style="background-color: rgba(0, 0, 0, 0.35); width: 43%; margin: 0 auto;">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center text-outline" id="navbarNavAltMarkup">
          <div class="navbar-nav" >
            <a class="nav-link active" style="color: #DDE6ED" aria-current="page" href="/">Home</a>
            <a class="nav-link" style="color: #DDE6ED" href="#search">Top 10</a>
            <a class="nav-link" style="color: #DDE6ED" href="#recommendations">Recommendations</a>
            <a class="nav-link" style="color: #DDE6ED" href="new">New releases</a>
          </div>
        </div>
      </div>
    </nav>
</header>