<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        {% endblock %}
    </head>

    <body>
    <!-- Tillägg till bootstrap -->
    <style>
            body {
                background-image: url("/static/img/background.jpg");
                background-position: center;
                background-repeat: no-repeat;
            }
                    .text-outline {
            color: white; /* Vit text */
            text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; /* Svart outline */
            }
    </style>

    <!-- Header -->
    <div id="header">
        {% block header %}
        {% include "header.html" %}
        {% endblock %}
    </div>

    <!-- Innehåll -->
    <div style="color: #DDE6ED; width:43%; margin-left:auto; margin-right:auto;" id="content">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer -->
    <div id="footer">
        {% block footer %}
        {% include "footer.html" %}
        {% endblock %}
    </div>
    </body>
</html>