{% extends "layout.html" %}
{% block content %}
    <br>
    <h1 class="text-outline text-center">Top 10 songs by: {{ artist_name }}</h1>
    <h5 class="text-outline text-center">These are the songs that's currently the most popular on Spotify.<br>Remember that this does not mean the most
        played songs, just</h5>
    <br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm">
                <div class="text-left text-light p-3 mb-3 rounded" style="background-color: rgba(0, 0, 0, 0.0);">
                    {{ data|safe }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}